/****** Object:  Database [db_seg]    Script Date: 30/08/2025 01:26:06 p. m. ******/
CREATE DATABASE [db_seg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_seg', FILENAME = N'C:\Users\52961\db_seg.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_seg_log', FILENAME = N'C:\Users\52961\db_seg_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_seg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 30/08/2025 01:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

USE [db_seg]
GO

CREATE TABLE [dbo].[Cuenta](
	[idcuenta] [int] IDENTITY(1,1) NOT NULL,
	[idusuario] [int] NULL,
	[fecha] [datetime] NULL,
	[numero] [varchar](15) NULL,
	[idtipo] [int] NULL,
	[saldo] [decimal](18, 2) NULL,
	[estatus] [bit] NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[idcuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 30/08/2025 01:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[idtipo] [int] IDENTITY(1,1) NOT NULL,
	[desc_tipo] [varchar](10) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_Tipo] PRIMARY KEY CLUSTERED 
(
	[idtipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/08/2025 01:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[usuario] [varchar](250) NULL,
	[password] [varchar](50) NULL,
	[activo] [bit] NULL,
	[nombre] [varchar](200) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cuenta] ON 

INSERT [dbo].[Cuenta] ([idcuenta], [idusuario], [fecha], [numero], [idtipo], [saldo], [estatus]) VALUES (1, 1, CAST(N'2025-08-29T22:18:51.707' AS DateTime), N'1029340494', 1, CAST(100.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Cuenta] ([idcuenta], [idusuario], [fecha], [numero], [idtipo], [saldo], [estatus]) VALUES (2, 1, CAST(N'2025-08-29T22:18:51.713' AS DateTime), N'1029340443', 2, CAST(200.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Cuenta] ([idcuenta], [idusuario], [fecha], [numero], [idtipo], [saldo], [estatus]) VALUES (1002, 2, CAST(N'2025-08-30T13:19:20.673' AS DateTime), N'3232', 1, CAST(250.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo] ON 

INSERT [dbo].[Tipo] ([idtipo], [desc_tipo], [activo]) VALUES (1, N'Debido', 1)
INSERT [dbo].[Tipo] ([idtipo], [desc_tipo], [activo]) VALUES (2, N'Credito', 1)
SET IDENTITY_INSERT [dbo].[Tipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idusuario], [fecha], [usuario], [password], [activo], [nombre]) VALUES (1, CAST(N'2025-08-29T00:00:00.000' AS DateTime), N'iscjuantoledo@gmail.com', N'123456789', 1, N'Juan Alberto Toledo Solis')
INSERT [dbo].[Usuario] ([idusuario], [fecha], [usuario], [password], [activo], [nombre]) VALUES (2, CAST(N'2025-08-30T13:18:04.750' AS DateTime), N'otrouser@correo.com', N'90319031', 1, N'Otro usuario')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_estatus]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Tipo] FOREIGN KEY([idtipo])
REFERENCES [dbo].[Tipo] ([idtipo])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Tipo]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Usuario] FOREIGN KEY([idusuario])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Usuario]
GO
